<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<title>Actividades</title>
	<meta charset="UTF-8" />
</h:head>
<h:body>
	<p:growl id="msj" />
	<p:commandButton style="left: 80%; padding: 5px"
		action="#{usuariosDao.close(us)}" icon="fa fa-sun-o" />
	<br />
	<br />
	<p:commandButton style="width: 14% !important; left:71%"
		value="Registrar Actividad" oncomplete="PF('java').show();" />
	<p:dialog widgetVar="java" modal="true" header="Actes"
		showEffect="explode">
		<h:form id="datos">
			<p:panelGrid columns="1">
				<p:outputLabel value="Actividades">
					<br></br>
					<p:inputText value="#{actesDao.actividades.nombre}" />
				</p:outputLabel>
				<p:outputLabel value="Descripción">
					<br></br>
					<p:inputText value="#{actesDao.actividades.descripcion}" />
				</p:outputLabel>
				<p:outputLabel value="Asignado" />
				<h:selectOneMenu value="#{actesDao.actividades.usuarios}">
					<f:selectItems value="#{actesDao.listaActividades}" var="us"
						itemLabel="#{us.usuarios.personas.nombre}" itemValue="#{us.id}" />
				</h:selectOneMenu>
				<p:outputLabel value="Fecha de Finalización">
					<br></br>
					<p:inputText value="#{actesDao.actividades.fechaI}" />
				</p:outputLabel>
				<p:commandButton value="Guardar"
					actionListener="#{actesDao.createActes()}"
					update="datos :tabla :msj" oncomplete="PF('java').hide();" />
			</p:panelGrid>
		</h:form>
	</p:dialog>

	<p:dialog widgetVar="java1" modal="true" header="Actes"
		showEffect="explode">
		<h:form id="datos1">
			<p:panelGrid columns="1">
				<p:outputLabel value="Actividades">
					<br></br>
					<p:inputText value="#{actesDao.actividades.nombre}" />
				</p:outputLabel>
				<p:outputLabel value="Descripción">
					<br></br>
					<p:inputText value="#{actesDao.actividades.descripcion}" />
				</p:outputLabel>
				<p:outputLabel value="Asignado" />
				<h:selectOneMenu value="#{actesDao.actividades.usuarios}">
					<f:selectItems value="#{actesDao.listaActividades}" var="us"
						itemLabel="#{us.usuarios.personas.nombre}" itemValue="#{us.id}" />
				</h:selectOneMenu>
				<p:outputLabel value="Fecha de Finalización">
					<br></br>
					<p:inputText value="#{actesDao.actividades.fechaI}" />
				</p:outputLabel>
				<p:commandButton value="Editar"
					actionListener="#{actesDao.editActes()}"
					update="datos1 :tabla :msj" oncomplete="PF('java1').hide();" />
			</p:panelGrid>
		</h:form>
	</p:dialog>

	<h:form id="tabla">
		<p:dataTable
			style="width: 70% !important; padding: 0; margin: 0 auto !important; height: 500px !important"
			value="#{actesDao.listaActividades}" var="actes">
			<p:column headerText="Actividades" style="text-align:center">
				<h:outputLabel value="#{actes.nombre}" />
			</p:column>
			<p:column headerText="Descripción" style="text-align:center">
				<h:outputLabel value="#{actes.descripcion}" />
			</p:column>
			<p:column headerText="Asignado" style="text-align:center">
				<h:outputLabel value="#{actes.usuarios.personas.nombre}" />
			</p:column>
			<p:column headerText="Fecha de Finalización"
				style="text-align:center">
				<h:outputLabel value="#{actes.fechaI}" />
			</p:column>
			<p:column headerText="Acciones">
				<center>
					<p:commandButton icon="fa fa-pencil"
						actionListener="#{actesDao.cargarActes(actes)}" update="datos1"
						oncomplete="PF('java1').show();" />
					<p:commandButton icon="fa fa-trash"
						actionListener="#{actesDao.deleteActes(es)}" update=":tabla :msj" />
				</center>
			</p:column>
		</p:dataTable>
	</h:form>
</h:body>
</html>