<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Fechas Especiales</title>
	<meta charset="UTF-8" />
</h:head>
<h:body>
	<p:growl id="msj" />
	<p:commandButton value="Nuevo" oncomplete="PF('java').show();" />
	<p:dialog widgetVar="java" modal="true" header="Fechas"
		showEffect="explode">
		<h:form id="datos">
			<p:panelGrid columns="1">
				<p:outputLabel value="Día">
					<br></br>
					<p:inputText value="#{fechasEDao.fechasespeciales.dia}" />
				</p:outputLabel>
				<p:outputLabel value="Mes">
					<br></br>
					<p:inputText value="#{fechasEDao.fechasespeciales.mes}" />
				</p:outputLabel>
				<p:outputLabel value="Motivo">
					<br></br>
					<p:inputText value="#{fechasEDao.fechasespeciales.descripcion}" />
				</p:outputLabel>
				<p:commandButton value="Guardar"
					actionListener="#{fechasEDao.create()}" update="datos :tabla :msj"
					oncomplete="PF('java').hide();" />
			</p:panelGrid>
		</h:form>
	</p:dialog>

	<p:dialog widgetVar="java1" modal="true" header="Fechas"
		showEffect="explode">
		<h:form id="datos1">
			<p:panelGrid columns="1">
				<p:outputLabel value="Día">
					<br></br>
					<p:inputText value="#{fechasEDao.fechasespeciales.dia}" />
				</p:outputLabel>
				<p:outputLabel value="Mes">
					<br></br>
					<p:inputText value="#{fechasEDao.fechasespeciales.mes}" />
				</p:outputLabel>
				<p:outputLabel value="Motivo">
					<br></br>
					<p:inputText value="#{fechasEDao.fechasespeciales.descripcion}" />
				</p:outputLabel>
				<p:commandButton value="Editar"
					actionListener="#{fechasEDao.edit()}" update="datos1 :tabla :msj"
					oncomplete="PF('java1').hide();" />
			</p:panelGrid>
		</h:form>
	</p:dialog>

	<h:form id="tabla">
		<p:dataTable value="#{fechasEDao.listaFechas}" var="fec">
			<p:column headerText="Día">
				<center>
					<h:outputLabel value="#{fec.dia}" />
				</center>
			</p:column>
			<p:column headerText="Mes">
				<center>
					<h:outputLabel value="#{fec.mes}" />
				</center>
			</p:column>
			<p:column headerText="Motivo">
				<center>
					<h:outputLabel value="#{fec.descripcion}" />
				</center>
			</p:column>
			<p:column headerText="Acciones">
				<center>
					<p:commandButton value="Editar"
						actionListener="#{fechasEDao.cargarFechas(fec)}" update="datos1"
						oncomplete="PF('java1').show();" />
					<p:commandButton value="Eliminar"
						actionListener="#{fechasEDao.delete(fec)}" update=":tabla :msj" />
				</center>
			</p:column>
		</p:dataTable>
		<br/>
		<p:button outcome="actividad" value="Actividades"/>
	</h:form>
</h:body>
</html>