<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<head>
<title>Iniciar Sessión</title>
<link href="/resources/css/login.css" rel="stylesheet" type="text/css" />
<script>
  window.console = window.console || function(t) {};
</script>
<script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>
</head>
<h:body>
	<h:form>
		<div>
			<p:outputLabel value="Usuario:">
			</p:outputLabel>
			<h:inputText class="form-control" value="#{usuariosDao.usuario}" />
		</div>

		<div>
			<p:outputLabel value="Contraseña:">
			</p:outputLabel>
			<p:password class="form-control" value="#{usuariosDao.pass}" />
		</div>
		<div>
			<p:commandButton action="#{usuariosDao.access()}"
				class="btn btn-block" value="Ingresar" />
		</div>


	</h:form>
	<script
		src="https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js"></script>
	<script id="rendered-js">
function show() {
  var p = document.getElementById('pwd');
  p.setAttribute('type', 'text');
}

function hide() {
  var p = document.getElementById('pwd');
  p.setAttribute('type', 'password');
}

var pwShown = 0;

document.getElementById("eye").addEventListener("click", function () {
  if (pwShown == 0) {
    pwShown = 1;
    show();
  } else {
    pwShown = 0;
    hide();
  }
}, false);
      //# sourceURL=pen.js
    </script>
</h:body>
</html>